.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: left;
  padding-left: 10px;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: white;
  padding-left: 5px;
}

link {
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.scroller {
  height: 200px !important;
  width: 400px;
  overflow-y: scroll !important;
  overflow-x: scroll;
  flex: auto;
}

.username-div {
display: flex;
justify-content: center;
}